body {
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

button {
  outline: 0;
  &:focus {
    outline: 0;
  }
}
