.logo {
  font-family: Raleway, sans-serif;
}

.header {
  &__bar {
    margin: 0 -16px;
    a:hover {
      font-weight: bold;
      color: $primary;
    }
  }
  &__menu {
    @media (max-width: 992px) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #fff;
      z-index: 10;
      a {
      }
    }
  }
  .nav-item > a {
    @media (max-width: 992px) {
      border-bottom: 1px solid #00000062;
      padding: 16px 0;
      font-size: 24px;
      text-align: left;
    }
  }
  .productType__link {
    border-bottom: 1px solid #00000062;
  }
  .productType__link li {
    padding: 8px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.sm-menu a:hover,
.sm-menu a:focus {
  color: #000;
  font-weight: normal;
}

.btn-close {
  z-index: 11;
}

.footer {
  a,
  span {
    color: #ffffff;
    font-size: 14px;
  }
  span {
    color: #ffffff99;
  }

  &__banner {
    background-image: url(../images/footer.jpg);
    height: auto;
    @media (min-width: 992px) {
      height: 400px;
    }
    h2 {
      color: #ffffff;
      @media (min-width: 992px) {
        font-size: 48px;
      }
    }
  }

  // banner 按鈕
  .input-group {
    input {
      background-color: transparent;
    }
    input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #ffffff99;
    }
    input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #ffffff99;
    }
    input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #ffffff99;
    }
    input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #ffffff99;
    }
    button {
      padding: 0 44px;
    }
  }

  &__menu {
    background: #000;
  }
  .nav {
    margin: 0 -24px;
    a {
      padding: 0 24px;
      color: #ffffffde;
    }
  }
}
