// 產品選單
.product__menu {
  ul {
    margin-left: -16px;
  }
  a {
    padding-top: 0;
    padding-bottom: 0;
  }
  a:hover,
  a:focus {
    font-weight: bold;
    color: $primary;
  }
}
// 產品內容
.specialOffer {
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  padding: 16px;
  font-size: 14px;
  @media (max-width: 992px) {
    padding: 8px;
  }
}

// 產品圖背景設置
.product-bg {
  background-position: center center;
  background-size: cover;
  width: 350px;
  margin-bottom: 8px;
}
// 產品圖片高度
.product-h48 {
  width: 48px;
  height: 48px;
}

.product-h240 {
  height: 240px;
}
.product-h350 {
  height: 350px;
}
.product-h440 {
  height: 440px;
}
.product-h480 {
  height: 480px;
}
.product-sm-h240 {
  @media (max-width: 992px) {
    width: 240px;
    height: 240px;
  }
}
.product-sm-h160 {
  @media (max-width: 992px) {
    width: 160px;
    height: 160px;
  }
}

// 產品圖
.product-1 {
  background-image: url(../images/img-1.jpg);
}
.product-2 {
  background-image: url(../images/img-6.jpg);
}
.product-3 {
  background-image: url(../images/img-8.jpg);
}
.product-4 {
  background-image: url(../images/img-5.jpg);
}
.product-5 {
  background-image: url(../images/img-3.jpg);
}
.product-6 {
  background-image: url(../images/img-9.jpg);
}
.product-7 {
  background-image: url(../images/img-4.jpg);
}
.product-8 {
  background-image: url(../images/img-7.jpg);
}
.product-9 {
  background-image: url(../images/img-2.jpg);
}

.productBody {
  p {
    margin-bottom: 0;
  }
}

.productName {
  font-weight: bold;
  margin-bottom: 4px;
}

.productPrice {
  span {
    color: #00000062;
  }
}

// 分頁
.pagination {
  a {
    padding: 0;
    margin: 0 16px;
  }
  .active {
    border-bottom: 1px solid;
    border-radius: 0;
  }
}
